doctype 5
html(lang='en')
    head
        link(href='/css/main.css', media='all', rel='stylesheet', type='text/css')
        script(data-main='/js/main.js', src='/js/lib/require.js')

    body
        div Framerate 
            span.frame-rate
        div Min Latency 
            span.min-latency
        div Max Latency 
            span.max-latency
        div Average Latency 
            span.avg-latency